.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    color: #F9FAF8;
}

.header-top {
    display:flex;
    justify-content: space-around;
    font-size: 18px;
}

.logo {
    width: 150px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul.header-links {
    list-style-type: none;
    display: flex;
    padding: 10px;
    gap: 24px;
}

.gang {
    display: flex;
    width: 400px;
    margin-right: 220px;
    height: 250px;
}

.header2 {
    display:flex;
    padding: 80px 100px 100px 100px;
    justify-content: space-between;
}

.text-container {
    display:flex;
    flex-direction: column;
    width: 400px;
    margin-left: 200px;
}

.header-text {
    font-size: 48px;
    font-weight: bold;
}
